services:
  portfolio:
    container_name: portfolio
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT}
      - OTEL_EXPORTER_OTLP_HEADERS=${OTEL_EXPORTER_OTLP_HEADERS}
      - OTEL_SERVICE_NAME=${OTEL_SERVICE_NAME}
      - NEXT_PUBLIC_FARO_URL=${NEXT_PUBLIC_FARO_URL}
      - NEXT_PUBLIC_FARO_APP_ID=${NEXT_PUBLIC_FARO_APP_ID}
